.landing-container {
  height: 100vh;
  width: 100%;
  background: #f6f2ee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
  position: relative;
}

.center-text {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.4;
  text-align: center;
  max-width: 800px;
  margin: 100px auto 0;
  color: #1c1c1e;
  z-index: 1000000;
}
.center-text h1 {
  max-width: 800px;
  line-height: 1.5;
  font-weight: 500;
  color: #111;
}

/* Responsive */
@media (min-width: 768px) {
  .center-text h1 {
    font-size: 2.4rem;
  }
}

@media (min-width: 1024px) {
  .center-text h1 {
    font-size: 3rem;
  }
}
