.user-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    background-color: #ffffff;
    height: 7vh;
    width: 24vw;
    border-radius: 10px;
    gap : 2rem;
    margin-bottom: 0.5rem;
}
  
.user-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
  
.user-details p:first-child {
    font-weight: bold;
    margin: 0;
} 
  
.user-details p:last-child {
    color: gray;
    margin: 0;
    font-size: 0.85rem;
}
  